{% extends "layout.html" %}

<title>{% block title %}Favorites{% endblock %}</title>

{% block main %}
    <h1>My favorites</h1>
<div  class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Preview</th>
                <th>Artist Name</th>
                <th>Title</th>
                <th>View</th>
                <th>Favorites</th>
            </tr>
        </thead>
        <tbody>
            {% if favorites %}
                {% for favorite in favorites %}
                    <tr class="art-row">
                        {% if favorite.primaryImage %}
                        <td><a target="_blank" href="{{ favorite.primaryImage }}"><img src="{{ favorite.primaryImage }}" alt="{{ favorite.title }}" class="image_thumbnail"></a></td>
                        {% else %}
                        <td>No picture available</td>
                        <td></td>
                        {% endif %}
                        <td>{{ favorite.artistName }}</td>
                        <td>{{ favorite.title }}</td>
                        <td><a href="/details?art_id={{ favorite.objectID }}" class="btn btn-primary">View</a></td>
                        {% if favorite.favorite == 0 %}
                        <td><button class="btn btn-primary like-button" data-id="{{ favorite.id }}"><i class="bi bi-heart"></i> Like</button></td>
                        {% else %}
                        <td><button class="btn btn-primary like-button" data-id="{{ favorite.id }}"><i class="bi bi-heart-fill"></i> Unlike</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan='5'>
                        You do not have any favorites yet
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
