{% extends "layout.html" %}

<title>{% block title %}Favorites{% endblock %}</title>

{% block main %}
    <h1>My favorites</h1>

    <table>
        <thead>
            <tr>
                <th>Artist Name</th>
                <th>Title</th>
                <th>Impressions</th>
                <th>View</th>
                <th>Favorites</th>
            </tr>
        </thead>
        <tbody>
            {% if favorites %}
                {% for favorite in favorites %}
                    <tr class="art-row">
                        <td>{{ favorite.artistName }}</td>
                        <td>{{ favorite.title }}</td>
                        <td>{{ favorite.impressions }}</td>
                        <td><a href="/details?art_id={{ favorite.objectID }}" class="btn btn-primary">View</a></td>
                        {% if favorite.favorite == 0 %}
                        <td><button class="btn btn-primary like-button" data-id="{{ favorite.id }}"><i class="bi bi-heart"></i> Like</button></td>
                        {% else %}
                        <td><button class="btn btn-primary like-button" data-id="{{ favorite.id }}"><i class="bi bi-heart-fill"></i> Unlike</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan='4'>
                        You do not have any favorites yet
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
