{% extends "layout.html" %}

<title>{% block title %}History{% endblock %}</title>

{% block main %}
    <h1>History</h1>

    <table>
        <thead>
            <tr>
                <th>Artist Name</th>
                <th>Title</th>
                <th>Impressions</th>
                <th>View</th>
                <th>Like</th>
            </tr>
        </thead>
        <tbody>
            {% if history %}
                {% for record in history %}
                    <tr class="art-row">
                        <td>{{ record.artistName }}</td>
                        <td>{{ record.title }}</td>
                        <td>{{ record.impressions }}</td>
                        <td><a href="/details?art_id={{ record.objectID }}" class="btn btn-primary">View</a></td>
                        {% if record.favorite == 0 %}
                        <td><button class="btn btn-primary like-button" data-id="{{ record.id }}"><i class="bi bi-heart"></i> Like</button></td>
                        {% else %}
                        <td><button class="btn btn-primary like-button" data-id="{{ record.id }}"><i class="bi bi-heart-fill"></i> Unlike</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan='4'>
                        You do not have any impressions yet
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
