{% extends "layout.html" %}

<title>{% block title %}History{% endblock %}</title>

{% block main %}
    <h1>History</h1>

    <table>
        <thead>
            <tr>
                <th>Artist Name</th>
                <th>Title</th>
                <th>Impressions</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
                <tr>
                    <td>{{ record.artistName }}</td>
                    <td>{{ record.title }}</td>
                    <td>{{ record.impressions }}</td>
                    <td>{{ record.primaryImage }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
