{% extends "layout.html" %}

{% block title %}
Homepage
{% endblock %}

{% block main %}

<form method="get">

    <div class="card-container">
        <div class="card">
            <img src="../static/images/VanGogh.jpg" class="card-img-top" alt="Van Gogh artwork">
            <div class="card-body">
                <h1 class="card-title">Art Surprise</h1>
                <p class="card-text">Discover a completely random masterpiece from the MET’s vast collection and enjoy
                    an unexpected moment of exploration and reflection.</p>
            </div>
            <div class="card-footer">
                <button type="submit" formaction="/art" class="btn btn-primary">Explore</button>
            </div>
        </div>

        <div class="card">
            <img src="../static/images/Pissarro.jpg" class="card-img-top" alt="Pissaro Artwork">
            <div class="card-body">
                <h1 class="card-title">My reflections</h1>
                <p class="card-text">Revisit the artworks you’ve explored and the impressions you shared, all organized
                    in one place for deeper appreciation and discovery.</p>

            </div>
            <div class="card-footer">
                <button type="submit" formaction="/history" class="btn btn-primary">Reflections</button>
            </div>
        </div>

        <div class="card">
            <img src="../static/images/Homer.jpg" class="card-img-top" alt="Homer Artwork">
            <div class="card-body">
                <h1 class="card-title">My favorites</h1>
                <p class="card-text">Keep track of the artworks you’ve marked as favorites and revisit the pieces that
                    inspired you most.</p>

            </div>
            <div class="card-footer">
                <button type="submit" formaction="/favorites" class="btn btn-primary">Favorites</button>
            </div>
        </div>

        <div class="card">
            <img src="../static/images/Cezanne.jpg" class="card-img-top" alt="Cezanne Artwork">
            <div class="card-body">
                <h1 class="card-title">MET Departments</h1>
                <p class="card-text">Look up specific departments and explore results from the museum’s collection to
                    find new wonders.</p>

            </div>
            <div class="card-footer">
                <button type="submit" formaction="/search" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
