{% extends "layout.html" %}

<title>{% block title %}{{ art.title }}{% endblock %}</title>

{% block main %}

    <h1>Reflections</h1>

    <div>
        <p><strong>Title: </strong>{{ art.title }}</p>
        <p><strong>Artist: </strong>{{ art.artistDisplayName }}</p>
         <a target="blank" href="{{ art.primaryImageSmall }}"><img src="{{ art.primaryImageSmall }}" alt="{{ art.title }}" class="image_thumbnail"></a>
    </div>



    <form method="post">
        <input name="art_id" value="{{ art.objectID }}" hidden>
        {% if record_id %}
        <input type="hidden" name="id" value="{{ record_id }}">
        {% endif %}

        {% if impressions %}
        <div class="mb-3">
            <label for="impression" class="form-label">Firt Impressions</label>
            <textarea class="form-control" id="impressions" name="impressions" rows="3" autocomplete="off" placeholder="What was your immediate reaction? How does the painting make you feel?" type="text" required>{{ impressions }}</textarea>
        </div>
        {% else %}
        <div class="mb-3">
            <label for="impression" class="form-label">Firt Impressions</label>
            <textarea class="form-control" id="impressions" name="impressions" rows="3" autocomplete="off" autofocus placeholder="What was your immediate reaction? How does the painting make you feel?" type="text"></textarea>
        </div>
        {% endif %}

        {% if connections %}
        <div class="mb-3">
            <label for="connections" class="form-label">Connections</label>
            <textarea class="form-control" id="connections" name="connections" rows="3" autocomplete="off" placeholder="Does it remind you of anything else, like a song or a story?" type="text">{{ connections }}</textarea>
        </div>
        {% else %}
        <div class="mb-3">
            <label for="connections" class="form-label">Connections</label>
            <textarea class="form-control" id="connections" name="connections" rows="3" autocomplete="off" placeholder="Does it remind you of anything else, like a song or a story?" type="text"></textarea>
        </div>
        {% endif %}

        {% if meaning %}
        <div class="mb-3">
            <label for="meaning" class="form-label">Meaning</label>
            <textarea class="form-control" id="meaning" name="meaning" rows="3" autocomplete="off" placeholder="What do you think is the main idea or message?" type="text">{{ meaning }}</textarea>
        </div>
        {% else %}
        <div class="mb-3">
            <label for="meaning" class="form-label">Meaning</label>
            <textarea class="form-control" id="meaning" name="meaning" rows="3" autocomplete="off" placeholder="What do you think is the main idea or message?" type="text"></textarea>
        </div>
        {% endif %}


        {% if composition %}
        <div class="mb-3">
            <label for="composition" class="form-label">Composition</label>
            <textarea class="form-control" id="composition" name="composition" rows="3" autocomplete="off" placeholder="What is the main point of focus? Is the composition simple or complex, balanced or unbalanced?" type="text">{{ composition }}</textarea>
        </div>
        {% else %}
        <div class="mb-3">
            <label for="composition" class="form-label">Composition</label>
            <textarea class="form-control" id="composition" name="composition" rows="3" autocomplete="off" placeholder="What is the main point of focus? Is the composition simple or complex, balanced or unbalanced?" type="text"></textarea>
        </div>
        {% endif %}

        <button type="submit" formaction="/save_reflection" class="btn btn-primary">Save</button>

    </form>

{% endblock %}
