{% extends "layout.html" %}

{% block main %}
    <h1>Reflect</h1>

    <form method="post">
        <input name="art_id" value="{{ art.objectID }}" hidden>
        <input name="impression" autocomplete="off" autofocus placeholder="Give your impressions" type="text">
        <button type="submit" formaction="/save_reflection" class="btn btn-primary">Save</button>
    </form>


    <button class="btn btn-primary like-button"><i class="bi bi-heart"></i> Like</button>

    <button class="btn btn-primary like-button"><i class="bi bi-heart-fill"></i> Unlike</button>


    <a target="blank" href="{{ art.primaryImageSmall }}"><img src="{{ art.primaryImageSmall }}" alt="{{ art.title }}" class="image_thumbnail"></a>
    <p><strong>Title: </strong>{{ art.title }}</p>
    <p><strong>Artist: </strong>{{ art.artistDisplayName }}</p>

{% endblock %}
