{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<form action="/register" method="post">
    <div  class="mb-3">
        <input name="username" autocomplete="off" autofocus placeholder="Username" type="text" required>
    </div>
    <div  class="mb-3">
        <input name="password" autocomplete="off" placeholder="Password" type="password" required>
    </div>
    <div  class="mb-3">
        <input name="confirmation" autocomplete="off" placeholder="Confirm Password" type="password" required>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}
