{% extends "layout.html" %}

<title>{% block title %}Search{% endblock %}</title>

{% block main %}
    <form action="search" method="GET">

        <!-- <input name="query" autocomplete="off" autofocus placeholder="Global search" type="text"> -->

        <select name ="department_query">
            <option selected>Choose a department</option>
            {% for department in departments %}
            <option value="{{ department.departmentId }}">{{ department.displayName }}</option>
            {% endfor %}
        </select>

        <button type="submit" action="/gallery" class="btn btn-primary">Search</button>

    </form>

{% endblock %}
