{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}


<h1>My Stats</h1>

<div class="card-container">

    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{favorite_artist}}</h5>
        <p class="card-text">Your favorite Artist</p>
    <a href="/search?query={{ favorite_artist }}" class="btn btn-primary">See more</a>
    </div>
    </div>

    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{reflected_artist}}</h5>
        <p class="card-text">The artist you have reflected the most on.</p>
        <a href="/reflections" class="btn btn-primary">Check my reflections</a>
    </div>
    </div>

    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{liked_paintings}}</h5>
        <p class="card-text">The total number of like paitings</p>
        <a href="/favorites" class="btn btn-primary">Go to favorites</a>
    </div>
    </div>

    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{total_reflections}}</h5>
        <p class="card-text">The total amount of reflections you have written!</p>
        <a href="/reflections" class="btn btn-primary">Go to reflections</a>
    </div>
    </div>



</div>


{% endblock %}
