{% if art %}

<h2>Tutorial</h2>

<p>How to use the viewer here</p>


<div id="viewer-container" data-url="{{ art.primaryImage }}" data-placeholder="{{ art.primaryImageSmall }}">
  <div id="loading-spinner"></div>
  <div class="seadragon-container" id="openseadragon-viewer" style="width: 100%; height: 80vh;"></div>
  <div id="navigatorDiv" style="width:150px; height:150px;"></div>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Date</th>
        <th>Object Name</th>
        <th>Medium</th>
        <th>Dimensions</th>
        <th>Departments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ art.title }}</td>
        <td>{{ art.artistDisplayName }}</td>
        <td>{{ art.objectDate }}</td>
        <td>{{ art.objectName }}</td>
        <td>{{ art.medium }}</td>
        <td>{{ art.dimensions }}</td>
        <td>{{ art.department }}</td>
      </tr>
    </tbody>
  </table>

  <a href="/reflection?art_id={{ art.objectID }}" class="btn btn-primary">Give your impression</a>

  {% if not art.primaryImage %}
  <p>NO IMAGE</p>
  {% endif %}

</div>

{% else %}
<p>No art to display. Please refresh the page</p>
{% endif %}
